@font-face {
 font-family: 'dm';
 src: url('/code/fonts/dm-regular.ttf');
      // url('/fonts/dm-italic.ttf');
}

@font-face {
 font-family: 'dm-italic';
 src: url('/code/fonts/dm-italic.ttf');
}

// @font-face {
//  font-family: 'HYQH';
//  src: url('/code/fonts/汉仪旗黑50简.ttf');
// }

body, code, kbd, .line-number 
  font-family: dm, HYQH !important

code, kbd, .line-number 
  font-size 16px !important

code > .comment
  font-family: dm-italic, HYQH !important

div[class*='language-'] .highlight-lines, div[class*='language-'].line-numbers-mode .line-numbers-wrapper
  line-height: 1.5